<mat-toolbar color="primary">
  <div fxFlex fxLayout fxLayoutGap="20px" fxLayoutAlign="start center">
    <a class="title" routerLink="/home">{{title}}</a>
  </div>
  <div fxFlex fxLayout fxLayoutGap="20px" fxLayoutAlign="center center">
  </div>
  <div fxFlex fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
  </div>
</mat-toolbar>



<nav>
  <li>
    <a routerLink="/home">
      Home
    </a>
  </li>
  <li>
    <a routerLink="/app1">
      App 1
    </a>
  </li>
  <li>
    <a routerLink="/app2">
      App 2
    </a>
  </li>
</nav>
